:root {
    --main-color: #ff7b00;
    --second-color: #cc6002;
    --third-color:#ff7b00;
    --footer-color: #02040f;
}
@media only screen and (max-width: 990px) {
    .carousel-styling h1 {
        width: 100% !important;
    }
}
.bg-mai-color{
    background-color: var(--main-color);
}
.main-color{
    color: var(--main-color) !important;
}
.main-btn {
    background-color: var(--main-color);
    border-radius: 0%;
    color: white;
}
.second-btn {
    background-color: var(--third-color);
    border-radius: 0%;
    color: white;
}
.third-btn {
    background-color: white;
    border-radius: 0%;
    color: black;
}
.fourth-btn{
    background-color: var(--third-color);
    border-radius: 0%;
    color: white;
    border: 1px solid white;
}
.main-btn:hover {
    background-color: var(--second-color) !important;
    border-radius: 0%;
    color: white;
}
.second-btn:hover {
    background-color: var(--second-color) !important;
    border-radius: 0%;
    color: white !important;
}
.third-btn:hover {
    background-color: white !important;
    border-radius: 0%;
    color: black !important;
}
.fourth-btn:hover{
    background-color: white !important;
    border-radius: 0%;
    color: black;
    border: 1px solid white;
}
.border-top-styling{
    border: none;
    border-radius: 0%;
    border-top: 1px solid var(--main-color);
}
.color-styling{
    color: rgb(232, 226, 226);
}
.white-color{
    color: white;
}
.gray-color{
    color: gray;
}
.caresol-hieght{
    height: calc(100vh - 138.64px);
}
.color-styling2{
    color: black;
}
.border-radious-none{
    border-radius: 0%;
}
.border-none{
    border: none;
}
.position-relative-1{
    /* position: relative; */
}
.icon-styling{
    background-color: var(--main-color);
    border-radius: 100%;
    width: 0.8em;
    color: white;
    font-size: xx-large;
    padding: 0.5em;
}
.bg-image{
    background-image: url("../images/bg-1.jpg");
    background-attachment: fixed;
}
.bg-image2{
    background-image: url("../images/bg-3.jpg");
    background-attachment: fixed;
}
.bg-image3{
    background-image: url("../images/bg-3.jpg");
    background-attachment: fixed;
}
.bg-image5{
    background-image: url("../images/bg-1.jpg");
    background-attachment: fixed;
}
.width-resize{
    width: 95%;
    margin: auto;
}
.list-styling{
    list-style-type: none;
}
.icon-footer-styling{
    background-color: var(--main-color);
    color: white;
    border: 1px solid var(--main-color);
    border-radius: 50%;

}
.icon-our-team-styling{
    background-color: white;
    color: black;
    border-radius: 50%;
}
.border-styling{
    border: 1px solid white;
}
.bg-black-styling{
background-color: var(--footer-color);
}
.card-styling{
    background-color: white;
    width: 93%;
    left: 4%;
    bottom: 4%;
}
.icon-card-styling{
    background-color: var(--main-color);
    color: white;
    border: 1px solid var(--main-color);
    border-radius: 100%;
    width: 10%;
}
.icon-add-styling{
    background-color: white;
    border: 1px solid var(--main-color);
    border-radius: 100%;
    /* width: 10%; */
}
.border-radious-50{
    border-radius: 50%;
}
.static-image-icon{
    font-size: 50px;
}
.position-styling{
    position: relative;
    bottom: 50px;
    background-color: white;
    width: 90%;
    margin: 0 auto;
}
.div-styling{
    background-color: black;
    height: 80%;
    width: 100%;
    opacity: 0.5;
}